@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-gray-850: #1f2937;
  --color-gray-900: #121212;
  --color-gray-950: #0a0a0a;

  --color-purple-450: #8b5cf6;
  --color-purple-550: #7c3aed;
}

@layer base {
  body {
    @apply bg-gray-950 text-gray-200;
    background-color: #0a0a0a;
    color: #e5e5e5;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
